html {
  scroll-behavior: smooth;
}
body {
  background-color: #f4f6f7;
  /* background-image: linear-gradient(
    135deg,
    #f1faee 0%,
    #edf2f4 50%,
    #8d99ae 100%
  ); */
  /* background-color: #000000; */
  color: #292b2c;
  font-family: Product Sans Regular;
  background-image: url("/img/banner/body.jpg");
  background-size: cover;
  background-position: center;
}

#wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content {
  flex-grow: 1;
}

.navbar .content footer {
  flex-shrink: 0;
}

#text-margin {
  margin-bottom: 0;
}

/* #region Navbar */
.navbar {
  /* position: absolute; */
  /* right: 0; */
  /* left: 0; */
  /* background-color: #1d3557; */
  background-color: #ee4d2d;
  /* background-color: #292b2c; */
  /* height: 100vh; */
  padding-top: 10px;
  padding-bottom: 10px;
  /* box-shadow: 0px 1.5px 5px 0px #888888; */
  /* box-shadow: 0 1px 3px 1px #888888; */

  /* color: #edf2f4; */
  font-family: Product Sans Light Regular;
}

.fa-bars {
  color: #ffffff;
}

.navbar-brand {
  font-weight: bold;
}

#color-text-navbar {
  color: #ffffff;
  text-shadow: 0 1px 3px 1px #2b2d42;
}
#color-text-navbar:hover {
  text-decoration: underline;
}

.dropdown-menu {
  background-color: #efefef;
  box-shadow: 0px 0px 15px 1px #888888;
}

.navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #endregion */

/* #region Produk */
#produk {
  margin: auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 1px #888888;
  border-radius: 15px;
}
.bg-image {
  /* background-size: cover;
  height: 80vh;
  background-position-y: 50%;
  width: 70vw;
  margin: auto;
  border-radius: 15px;
  margin-top: 1rem;
  background-color: #edf2f4; */
  /* width: ; */
  background-image: url("/img/banner/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text-bg {
  width: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-content: center; */
  justify-content: center;
  color: #edf2f4;
  text-shadow: 0 1px 3px 1px #2b2d42;
  /* box-shadow: 0 1px 3px 1px #888888; */
}
.text-bg h1 {
  font-size: 80px;
  font-weight: bolder;
}

.title-produk {
  margin: auto;
  margin-bottom: 15px;
  color: #ee4d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-top: 4px solid #ee4d2d;
  border-left: 4px solid #ee4d2d;
  border-top-left-radius: 20px;
}
.title-produk span {
  width: 10px;
  height: 10px;
  background-color: #ee4d2d;
  border: 1px solid;
}
.title-produk h1 {
  font-family: Product Sans Thin Regular;
  width: fit-content;
  padding: 1rem;
}
.title-produk h1 b {
  font-family: Product Sans Light Regular;
}
.navbar-produk {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
}
.navbar-produk form button {
  background-color: #260931;
}
#card-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* border: 1px solid; */
}
.card {
  /* box-shadow: 0px 5px 20px -5px #f4a261; */
  box-shadow: 0 1px 3px 1px #888888;
  transition: 0.3s;
  width: 200px;
  height: max-content;
  color: #333333;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 1rem;
}
.card:hover {
  transform: scale(1.05);
}
.card-img-top {
}

.card-text {
}
/* #endregion */

/* #region Customer */
#customer {
  margin: auto;
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 1px #888888;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.title-customer {
  margin: auto;
  margin-bottom: 15px;

  color: #ee4d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-top: 4px solid #ee4d2d;
  border-right: 4px solid #ee4d2d;
  border-top-right-radius: 20px;
}
.title-customer span {
  width: 10px;
  height: 10px;
  background-color: #ee4d2d;
  border: 1px solid;
}
.title-customer h1 {
  font-family: Product Sans Thin Regular;
  width: fit-content;
  padding: 1rem;
}
.title-customer h1 b {
  font-family: Product Sans Light Regular;
}
.content-customer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.content-customer div {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.content-customer div img {
  width: 150px;
}

/* #endregion */

/* #region Kontak */
#kontak {
  margin: auto;
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 1px #888888;
  border-radius: 15px;
}
.title-kontak {
  margin: auto;
  margin-bottom: 15px;
  color: #ee4d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-top: 4px solid #ee4d2d;
  border-left: 4px solid #ee4d2d;
  border-top-left-radius: 20px;
}
.title-kontak span {
  width: 10px;
  height: 10px;
  background-color: #ee4d2d;
  border: 1px solid;
}
.title-kontak h1 {
  font-family: Product Sans Thin Regular;
  width: fit-content;
  padding: 1rem;
}
.title-kontak h1 b {
  font-family: Product Sans Light Regular;
}
.content-kontak {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.content-kontak .telepon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-kontak .telepon div {
  /* border: 1px solid; */
  border-radius: 15px 2px;
  box-shadow: 0px 0px 5px 0.5px #888888;
  padding: 10px;
}
.content-kontak .alamat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-kontak .alamat div {
  /* border: 1px solid; */
  padding: 10px;
  border-radius: 15px 2px;
  box-shadow: 0px 0px 5px 0.5px #888888;
}
.content-kontak .email {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-kontak .email div {
  /* border: 1px solid; */
  padding: 10px;
  border-radius: 15px 2px;
  box-shadow: 0px 0px 5px 0.5px #888888;
}
.content-kontak2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.content-kontak2 div img {
  width: 100px;
}
/* #endregion */

/* #region Whatsapp */
.link-wa {
  color: #f7f7f7;
  transition: 0.5s;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
}
.link-wa:hover {
  color: #f7f7f7;
  text-decoration: none;
  right: 55px;
}
#whatsapp {
  background-color: #4fce5d;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 15px;
}
/* #endregion */

/* #region Info */
.info {
  /* background-color: #efefef; */
  color: #292b2c;
  font-weight: bold;
  border-radius: 15px;
  margin-bottom: 2rem;
  /* border: 1px solid;
   */
  /* box-shadow: 0px 0px 5px 0.5px #888888; */
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
}

.wrapper-left {
  /* padding: 0; */
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.header-kontak {
  padding-top: 5px;
  padding-bottom: 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #aaae7f;
}
/* .content-kontak {
  padding: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #f7f7f7;
} */
.info-content {
  display: flex;
}
.line {
  margin-top: 0;
  background-color: #292b2c;
}
.kontak {
  margin-bottom: 15px;
  font-weight: bold;
}

.t2 {
  display: flex;
  justify-content: flex-end;
}

.top {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0.5px #888888;
  background-color: #f7f7f7;
  margin-bottom: 2rem;
}

.top .header-sosial {
  padding-top: 5px;
  padding-bottom: 1px;
  background-color: #aaae7f;
}

.content-sosial {
  padding: 1rem;
  background-color: #f7f7f7;
}

.info-content-sosial {
  display: flex;
  justify-content: center;
}

.info-content-sosial img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.bottom {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0.5px #888888;
}

.header-rekening {
  padding-top: 5px;
  padding-bottom: 1px;
  background-color: #aaae7f;
}

.content-rekening {
  padding: 1rem;
  background-color: #f7f7f7;
}
/* #endregion */

/* #region Footer */
.sticky-footer {
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
  /* width: 100%; */
  box-shadow: 0px -1px 5px #888888;
  /* border-top: 1px solid #888888; */
  background-color: #f7f7f7;
  font-weight: bold;
  margin-top: auto;
}

.sticky-footer .container .copyright {
  font-size: medium;
}
/* #endregion */
